.note[note]
  .pull-right.m-l
    - if note.updatable_by?(current_user)
      = link_to icon('pencil', t('actions.edit')), [:edit, note], remote: true,
          class: 'btn btn-xs btn-primary'
  .pull-right.text-right
    .text-muted= l(note.created_at, format: :long)
    .small.font-bold= note.user
  %h3.m-b-lg= note.title
  .note-content
    = note.content.html_safe
  .hr-line-dashed
