.hpanel.filter-item
  = link_to note.customer do
    .panel-body.social-board
      .media.social-profile.clearfix
        .media-left
          = profile_image note.customer.person
        .media-body
          .pull-right.text-right
            %small
              = time_ago_in_words note.created_at
              = t('time.ago')
            .stat-label{class: note.user == current_user ? 'font-light' : ''}
              = note.user
          %span.font-bold= note.customer.person.full_name
          .social-content
            %em= note.title
