.note[note]
  - if note.editable?(current_user)
    .pull-right.m-l
      = link_to icon('pencil', t('actions.edit')), [:edit, note], remote: true,
          class: 'btn btn-xs btn-primary'
  .pull-right.m-l-xs
    = icon('user-circle', note.user)
  .pull-right.text-muted.m-l-lg= l(note.created_at, format: :long)
  %h3= note.title
  .note-content
    = note.content.html_safe
  .hr-line-dashed
