= bootstrap_form_for @person,
    html: {novalidate: true} do |f|
  %fieldset{disabled: editing_disabled?}
    .row
      .col-md-6
        = f.text_field :last_name
      .col-md-6
        = f.text_field :first_names
    .row
      .col-md-4
        = f.text_field :identification
      .col-md-4
        = f.text_field :date_of_birth, autocomplete: 'off',
            data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd',
              'date-language': I18n.locale}
      .col-md-4
        = f.form_group :gender do
          %label.control-label= Person.human_attribute_name(:gender)
          .btn-group{data: {toggle: 'buttons'}}
            - gender_options.each do |label, value|
              %label.btn.btn-default{class: value == @person.gender && 'active'}
                = f.radio_button_without_bootstrap :gender, value
                = label
    .hr-line-dashed
    .row
      .col-md-6
        = f.text_field :address
      .col-md-6
        = f.select :postcode_id,
            options_from_current(@person.postcode, :id, :text),
            {include_blank: true}, disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale,
              'allow-clear': true, placeholder: '',
              'ajax--url': postcodes_path, 'ajax--delay': 500}
    .row
      .col-md-6
        = f.select :municipality_id,
            options_from_current(@person.municipality),
            {include_blank: true}, disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale,
              'allow-clear': true, placeholder: '',
              'ajax--url': municipalities_path, 'ajax--delay': 500}
      .col-md-6
        = f.text_field :accommodation
    .row
      .col-md-6
        = f.telephone_field :phone
      .col-md-6
        = f.email_field :email
    .hr-line-dashed
    .row
      .col-md-6
        = f.select :language, language_options, {},
            disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale}
      .col-md-6
        .form-group
          %label.control-label= Person.human_attribute_name(:nationality)
          = country_select :person, :nationality, {selected: 'FI'},
              disabled: editing_disabled?,
              data: {provide: 'select2', language: I18n.locale}
    .row
      .col-md-12
        = f.select :education_level_id, education_level_options,
            {include_blank: true}, disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale,
              'allow-clear': true, placeholder: t('education_level.none'),
              'minimum-results-for-search': 'Infinity'}
        .education-info{collapsible(@person.education_level, :needs_info?)}
          = f.text_field :education_info, skip_label: true, wrapper_class: 'm-t-n',
              placeholder: Person.human_attribute_name(:education_info)
    .row
      .col-md-12
        = f.text_field :disabilities
    .row
      .col-md-12
        = f.text_area :notes
  - unless editing_disabled?
    .form-group.actions
      = f.submit class: 'btn btn-primary'

:coffee
  needs_info = #{EducationLevel.needs_info.pluck(:id)}
  $('#person_education_level_id').on 'change', (e) ->
    if +e.currentTarget.value in needs_info
      $('.education-info').collapse 'show'
    else
      $('.education-info').collapse 'hide'
