.hpanel.filter-item
  = link_to person do
    .panel-body.social-board
      .media.social-profile.clearfix
        .media-left
          = profile_image(person, class: 'img-circle')
        .media-body
          .pull-right.text-right
            %small.stat-label= person.identification
            %h5= person.municipality
          %h4= person.last_name
          %small= person.first_names
