.hpanel.filter-item
  = link_to person do
    .panel-body.social-board
      .media.social-profile.clearfix
        .media-left
          = profile_image(person, class: 'img-circle')
        .media-body
          - if person.current_customer(current_unit).present?
            .pull-right.text-right
              %div
                %span.label{class: "label-#{person.appearance(current_unit)}"}
                  = person.status(current_unit)
              %small.stat-label= person.assigned_user(current_unit)
          %h4= person.last_name
          %small= person.first_names
