.hpanel.hblue.contact-panel
  .panel-body
    .pull-right.text-right
      .btn-group
        - if person.phone.present?
          = tel_to icon('phone'), person.phone, class: 'btn btn-default'
        - if person.email.present?
          = mail_to icon('envelope'), person.email, class: 'btn btn-default'
    = profile_image(person)
    %h3= person.last_name
    .text-muted.font-bold.m-b-xs
      = person.first_names
