= bootstrap_form_for @search, url: people_path, method: :get, enforce_utf8: false do |f|
  .hpanel
    .panel-body
      %h4= t('.header')
      %fieldset
        = f.search_field :keyword, placeholder: t('.keyword'),
            skip_label: true
        .checkbox
          = f.check_box_without_bootstrap :parental
          = f.label :parental, t('.parental')
      %hr.hr-line-dashed
      %p.small= t('.help')
      %fieldset
        = f.text_field :phone, autocomplete: 'off',
            label: t('.phone')
        = f.text_field :address, autocomplete: 'off',
            label: t('.address')
        = f.select :postcode,
            Person.assigned_postcodes.map { |p| [p.text, p.id] },
            {include_blank: true, include_hidden: false, label: t('.postcode')},
            data: {provide: 'select2', language: I18n.locale,
              'allow-clear': true, placeholder: ''}
        = f.text_field :year_of_birth, autocomplete: 'off',
            label: t('.year_of_birth'), data: {provide: 'datepicker',
              'date-format': 'yyyy', 'date-language': I18n.locale,
              'date-min-view-mode': 'years'}
      .form-group.actions
        = f.submit t('.submit'), class: 'btn btn-block btn-primary'
