= bootstrap_form_for @search, url: people_path, method: :get, enforce_utf8: false do |f|
  .hpanel
    .panel-body
      %h4= t('.header')
      %fieldset
        = f.search_field :keyword, placeholder: t('.keyword'),
            skip_label: true
      %hr.hr-line-dashed
      %p.small= t('.help')
      %fieldset
        = f.select :municipalities,
            Person.assigned_municipalities.map { |m| [m.to_s, m.id] },
            {include_blank: blank_option, include_hidden: false,
              label: t('.municipalities')},
            multiple: true, data: {provide: 'select2'}
        = f.text_field :year_of_birth, autocomplete: 'off',
            label: t('.year_of_birth'),
            data: {provide: 'datepicker', 'date-format': 'yyyy',
              'date-min-view-mode': 'years'}
      .form-group.actions
        = f.submit t('.submit'), class: 'btn btn-block btn-success'
