- content_for :header do
  %h2= title(Person, count: 2)
  %small= @person
- content_for :breadcrumb do
  %li= link_to title(Person, count: 2), people_path
  %li.active= @person

.content
  .row
    .col-md-3
      = render @person
      = render partial: 'images'
    .col-md-6
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('pencil', t('actions.edit')), [:edit, @person],
                class: 'btn btn-xs btn-primary'
          = icon('id-card', t('people.panel.header'))
        .panel-body
          = render partial: 'form'
    .col-md-3
      = render partial: 'liaisons'
