.text-center.m-b-md
  %h3 Folio
  %small= t('.resend_unlock_instructions')
.hpanel
  .panel-body
    = bootstrap_form_for resource, as: resource_name,
        url: unlock_path(resource_name) do |f|
      = f.email_field :email, autofocus: true
      .actions
        = f.submit t('.resend_unlock_instructions'), class: 'btn btn-success btn-block'
      = render "devise/shared/links"
