= bootstrap_form_for [@person, @liaison],
    html: {novalidate: true} do |f|
  %fieldset{disabled: editing_disabled?}
    .row
      .col-md-6
        = f.select :status_id, status_options,
            {}, disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale,
              'minimum-results-for-search': 'Infinity'}
      .col-md-6
        = f.select :referrer_id, referrer_options,
            {include_blank: true}, disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale,
              'allow-clear': true, placeholder: t('referrer.none'),
              'minimum-results-for-search': 'Infinity'}
        .referrer-info{collapsible(@liaison.referrer, :needs_info?)}
          = f.text_field :referrer_info, skip_label: true, wrapper_class: 'm-t-n',
              placeholder: Liaison.human_attribute_name(:referrer_info)
    .row
      .col-md-12
        = f.text_area :notes

    - unless editing_disabled?
      .form-group.actions
        = f.submit class: 'btn btn-primary'

:coffee
  needs_info = #{Referrer.needs_info.pluck(:id)}
  $('#liaison_referrer_id').on 'change', (e) ->
    if +e.currentTarget.value in needs_info
      $('.referrer-info').collapse 'show'
    else
      $('.referrer-info').collapse 'hide'

  $('#liaison_notes').summernote
    lang: "#{t('i18n.culture')}"
    airMode: true
    dialogsFade: true
    disableDragAndDrop: true
    popover:
      air: [
        ['para', ['style', 'ul', 'ol', 'paragraph']]
        ['font', ['bold', 'italic', 'clear']]
      ]
