.hpanel.filter-item
  = link_to liaison do
    .panel-body
      %span.label.pull-right{class: "label-#{liaison.appearance}"}
        = liaison.status
      %h4
        = l(liaison.created_at.to_date)
      %small
        = liaison.referrer
        = icon('arrow-right')
        = liaison.user
