- content_for :header do
  %h2= @liaison.person
  %small= @liaison
- content_for :breadcrumb do
  %li= link_to title(Person, count: 2), people_path
  %li= link_to @liaison.person, @liaison.person
  %li.active= @liaison

.content
  .row
    .col-md-3
      = render @liaison.person
      = render partial: 'documents'
      = render partial: 'events'
    .col-md-9
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('pencil', t('actions.edit')), [:edit, @liaison],
                class: 'btn btn-xs btn-primary'
          = icon('book', t('liaisons.panel.header'))
        .panel-body
          = render partial: 'form'
      .hpanel
        .panel-heading.hbuilt
          = icon('calendar', t('events.panel.header'))
        .panel-body
          = render partial: 'events/calendar', object: @liaison, as: :container
