- content_for :header do
  %h2= @liaison.person
  %small= @liaison
- content_for :breadcrumb do
  %li= link_to title(Person, count: 2), people_path
  %li= link_to @liaison.person, @liaison.person
  %li.active= @liaison

.content
  .row
    .col-md-3
      = render @liaison.person
    .col-md-6
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('pencil', t('actions.edit')), [:edit, @liaison],
                class: 'btn btn-xs btn-primary'
          = icon('book', t('liaisons.panel.header'))
        .panel-body
          = render partial: 'form'
    .col-md-3
      = render partial: 'documents'
  .row
    .col-md-3
      = render partial: 'events'
    .col-md-9
      .hpanel
        %ul.nav.nav-tabs
          = nav_tab 'notes-panel', icon('book', t('notes.panel.header')),
              class: 'active'
          = nav_tab 'calendar-panel', icon('calendar', t('calendar.panel.header'))
        .tab-content
          #notes-panel.tab-pane.active
            .panel-body
              Notes go here
          #calendar-panel.tab-pane
            .panel-body
              = render partial: 'events/calendar', object: @liaison, as: :container
:coffee
  $('a[href="#calendar-panel"]').on 'shown.bs.tab', (e) ->
    $('#calendar').fullCalendar 'render'
