= bootstrap_form_for @user,
    html: {novalidate: true} do |f|
  %fieldset{disabled: editing_disabled?}
    .row
      .col-md-12
        = f.email_field :email, required: true
    .row
      .col-md-6
        = f.text_field :last_name, required: true
      .col-md-6
        = f.text_field :first_names, required: true
    .row
      .col-md-12
        = f.select :locale, locale_options, {},
            disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale,
              'minimum-results-for-search': 'Infinity'}
    .row
      .col-md-6
        = f.text_field :activates_at, autocomplete: 'off',
            data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd',
              'date-language': I18n.locale}
      .col-md-6
        = f.text_field :expires_at, autocomplete: 'off',
            data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd',
              'date-language': I18n.locale}
    .hr-line-dashed
    - if @user.new_record?
      .row
        .col-md-6
          = f.password_field :password, required: true
        .col-md-6
          = f.password_field :password_confirmation
    - unless @user.new_record?
      .row
        .col-md-6
          = f.form_group :two_factor_enabled do
            %label.control-label
              = User.human_attribute_name(:two_factor_enabled)
              = link_to page_path('two_factor_auth') do
                = icon('question-circle', class: 'fa-lg')
            .btn-group{data: {toggle: 'buttons'}}
              - two_factor_options.each do |label, value|
                %label.btn.btn-default{class: value == @user.two_factor_enabled && 'active'}
                  = f.radio_button_without_bootstrap :two_factor_enabled, value
                  = label
    - unless editing_disabled?
      .form-group.actions
        = f.submit class: 'btn btn-primary'
