= bootstrap_form_for @user, remote: true,
    html: {novalidate: true, data: {behavior: 'turbolinks'}} do |f|
  %fieldset{disabled: editing_disabled?}
    = f.email_field :email, required: true
    = f.text_field :last_name, required: true
    = f.text_field :first_names, required: true
    = f.select :locale, locale_options
    - if @user.new_record?
      = f.password_field :password, required: true
      = f.password_field :password_confirmation
    = f.date_field :activates_at,
        data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'}
    = f.date_field :expires_at,
        data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'}
  - unless editing_disabled?
    .form-group.actions
      = f.submit class: 'btn btn-primary'
