.hpanel.hblue.contact-panel
  .panel-body
    = profile_image(user)
    %h3= user.last_name
    .text-muted.font-bold.m-b-xs
      = user.first_names
  .panel-footer.contact-footer
    .row
      .col-md-6.border-right
        .contact-stat
          %span= User.human_attribute_name(:sign_in_count)
          %strong= user.sign_in_count
      .col-md-6
        .contact-stat
          %span= User.human_attribute_name(:current_sign_in_at)
          %strong
            - if user.current_sign_in_at.present?
              = l(user.current_sign_in_at, format: :short)
            - else
              –
