- content_for :header do
  %h2= title(User, count: 2)
  %small= @user.full_name
- content_for :breadcrumb do
  %li= link_to title(User, count: 2), users_path
  %li.active= @user.full_name

.content
  .row
    .col-md-3
      = render @user
    .col-md-6
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('close', t('actions.cancel')), @user,
                class: 'btn btn-xs btn-default'
          = icon('id-card', t('users.panel.header'))
        .panel-body
          = render partial: 'form'
    .col-md-3
      .hpanel
        %ul.nav.nav-tabs
          = nav_tab :images, icon('film'), class: 'active'
          = nav_tab :documents, icon('envelope-open-o')
        .tab-content
          #images.tab-pane.active
            .panel-body
              = render partial: 'images/list', object: @user, as: :imageable
              .hr-line-dashed
              = render partial: 'images/new', object: @user, as: :imageable
          #documents.tab-pane
