- content_for :header do
  %h2= @user.full_name
  %small= t('.header')
- content_for :breadcrumb do
  %li= link_to title(User, count: 2), users_path
  %li= link_to @user, @user
  %li.active= t('.header')

.content
  .row
    .col-md-3
      = render @user
    .col-md-6
      .hpanel.editing-panel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('close', t('actions.cancel')), @user,
                class: 'btn btn-xs btn-default'
          = icon('key', t('users.edit_password.header'))
        .panel-body
          = bootstrap_form_for [:update_password, @user],
              html: {novalidate: true} do |f|
            %fieldset
              .row
                .col-md-6
                  = f.password_field :password, required: true
                .col-md-6
                  = f.password_field :password_confirmation, required: true
              .form-group.actions
                = f.submit t('.submit'), class: 'btn btn-primary'
