- content_for :header do
  %h2= title(User, count: 2)
  %small
- content_for :breadcrumb do
  %li.active= title(User, count: 2)

.content
  .row.grid
    .col-lg-4.col-sm-6.col-xs-12
      = link_to new_user_path do
        = render partial: 'users/new'
    - @users.each do |user|
      .col-lg-4.col-sm-6.col-xs-12
        = link_to user do
          = render user
