- content_for :header do
  %h2= title(User, count: 2)
  %small
    = t('users.new.last_name')
    = t('users.new.first_names')
- content_for :breadcrumb do
  %li= link_to title(User, count: 2), users_path
  %li.active
    = t('users.new.last_name')
    = t('users.new.first_names')

.content
  .row
    .col-lg-4.col-md-6
      = render 'users/new'
    .col-lg-4.col-md-6
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('close', t('actions.cancel')), users_path, class: 'btn btn-xs btn-default'
          = t('users.panel.header')
        .panel-body
          = render partial: 'form'
