- content_for :header do
  %h2= @user.full_name
- content_for :breadcrumb do
  %li= link_to title(User, count: 2), users_path
  %li.active= @user.full_name

- content_for :sidebar do
  = render partial: 'activities/sidebar', object: @user, as: :resource

.content
  .row
    .col-md-3
      = render @user
      = render partial: 'roles'
    .col-md-6
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon(@user.two_factor_icon, t('users.two_factor.title')), two_factor_path(@user),
                class: 'btn btn-xs btn-default'
            = link_to icon('key', t('users.edit_password.header')), [:edit_password, @user],
                class: 'btn btn-xs btn-default'
            - if current_user.can_delete?(@user)
              = link_to icon('trash', t('actions.delete')), [:delete, @user],
                  remote: true, class: 'btn btn-xs btn-danger'
            = link_to icon('pencil', t('actions.edit')), [:edit, @user],
                class: 'btn btn-xs btn-primary'
          = icon('id-card', t('users.panel.header'))
        .panel-body
          = render partial: 'form'
    .col-md-3
      = render partial: 'images'
