- content_for :header do
  %h2= title(User, count: 2)
  %small= @user.full_name
- content_for :breadcrumb do
  %li= link_to title(User, count: 2), users_path
  %li.active= @user.full_name

- content_for :sidebar do
  = render partial: 'activities/sidebar', object: @user, as: :resource

.content
  .row
    .col-md-3
      = render @user
      = render partial: 'roles'
    .col-md-6
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('pencil', t('actions.edit')), [:edit, @user],
                class: 'btn btn-xs btn-primary'
          = icon('id-card', t('users.panel.header'))
        .panel-body
          = render partial: 'form'
    .col-md-3
      = render partial: 'images'
