.color-line
#logo.light-version
  %span Folio
%nav{role: 'navigation'}
  .header-link.hide-menu
    %i.fa.fa-bars
  .small-logo
    %span.text-primary Folio
  = render partial: 'search/navbar'
  .mobile-menu
    %button.navbar-toggle.mobile-menu-toggle{type: 'button',
      data: {toggle: 'collapse', target: '#mobile-collapse'}}
      %i.fa.fa-chevron-down
    #mobile-collapse.mobile-navbar.collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-fw.fa-sign-out
              = t('devise.shared.links.sign_out')
          %li
            = link_to current_user do
              %i.fa.fa-fw.fa-user
              = t('users.links.my_profile')
  .navbar-right
    %ul.nav.navbar-nav.no-borders
      - if content_for?(:sidebar)
        %li
          %a#sidebar.right-sidebar-toggle{href: '#'}
            %i.pe-7s-news-paper
      - if user_signed_in?
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.pe-7s-upload.pe-rotate-90
