= active_link_to root_path, wrap_tag: :li, active: :exclusive do
  %span.nav-label= icon('home', current_unit, class: 'fa-fw')

= active_link_to memos_path, wrap_tag: :li do
  %span.nav-label= icon('commenting', title(Memo, count: 2), class: 'fa-fw')

= active_link_to people_path, wrap_tag: :li do
  %span.nav-label= icon('address-book', title(Person, count: 2), class: 'fa-fw')

- if current_user.can_read?(User, unit: current_unit)
  = active_link_to users_path, wrap_tag: :li do
    %span.nav-label= icon('user-circle', title(User, count: 2), class: 'fa-fw')

%li{class: active_link_to_class(reports_path, active: :inclusive)}
  = active_link_to reports_path, active: :inclusive do
    %span.nav-label
      = icon('pie-chart', class: 'fa-fw')
      = t('reports.title')
    %span.fa.arrow
  %ul.nav.nav-second-level
    = active_link_to people_reports_path, wrap_tag: :li do
      = title(Person, count: 2)
    = active_link_to customers_reports_path, wrap_tag: :li do
      = title(Customer, count: 2)

- if current_user.can_read?(Activity, unit: current_unit)
  = active_link_to activities_path, wrap_tag: :li do
    %span.nav-label= icon('heartbeat', title(Activity, count: 2), class: 'fa-fw')
