= active_link_to root_path, wrap_tag: :li, active: :exclusive do
  %span.nav-label= icon('home', current_unit)
= active_link_to memos_path, wrap_tag: :li do
  %span.nav-label= icon('commenting', title(Memo, count: 2))
= active_link_to people_path, wrap_tag: :li do
  %span.nav-label= icon('address-book', title(Person, count: 2))
= active_link_to users_path, wrap_tag: :li do
  %span.nav-label= icon('user-circle', title(User, count: 2))
