.profile-picture
  = profile_image(current_user, class: 'img-circle m-b')
  .stats-label.text-color
    %span.font-extra-bold.font-uppercase= current_user.full_name
    .dropdown
      %a.dropdown-toggle{data: {toggle: 'dropdown'}}
        %small.text-muted
          = current_unit
          %b.caret
      %ul.dropdown-menu.animated.flipInX.m-t-xs
        - if accessible_units.count > 1
          - accessible_units.each do |unit|
            %li
              = link_to params.permit(:unit_id).merge(unit_id: unit) do
                %i.fa.fa-fw.fa-home
                = unit
          %li.divider
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-fw.fa-sign-out
            = t('devise.shared.links.sign_out')
        %li
          = link_to current_user do
            %i.fa.fa-fw.fa-user
            = t('users.links.my_profile')
