= bootstrap_form_for [@liaison, @event], remote: true,
    html: {novalidate: true} do |f|
  %fieldset{disabled: editing_disabled?}
    .row
      .col-md-12
        = f.select :event_type_id, event_type_options, {},
            disabled: editing_disabled?,
            data: {provide: 'select2', language: I18n.locale,
              'minimum-results-for-search': 'Infinity'}
    .row
      = f.fields_for :compound_starts_at do |ff|
        .col-md-6
          = ff.text_field :date, autocomplete: 'off',
              data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd',
                'date-language': I18n.locale}
        .col-md-6
          = ff.text_field :time, autocomplete: 'off',
              data: {provide: 'clockpicker', autoclose: true}
    .row
      .col-md-12
        = f.number_field :duration
    .row
      .col-md-12
        = f.text_field :title, autofocus: true
    .row
      .col-md-12
        = f.text_area :description
    - unless editing_disabled?
      .form-group.actions
        = f.submit class: 'btn btn-primary'
