.color-line
.modal-header
  .pull-right= modal_close_button
  %h4.modal-title= t('.header')
  %small.font-bold= @customer

.modal-body
  .alert.alert-danger= t('.warning_html')

.modal-footer
  = link_to icon('trash', t('.proceed')), @customer, method: :delete,
      class: 'btn btn-danger'
