.hpanel.filter-item
  = link_to customer do
    .panel-body
      %span.label.pull-right{class: "label-#{customer.appearance}"}
        = customer.status
      %h4
        = l(customer.created_at.to_date)
      %small
        = customer.referrer
        = icon('arrow-right')
        = customer.user
