- content_for :header do
  %h2= @customer.person
  %small= @customer
- content_for :breadcrumb do
  %li= link_to title(Person, count: 2), people_path
  %li= link_to @customer.person, @customer.person
  %li.active= @customer

- content_for :sidebar do
  = render partial: 'activities/sidebar', object: @customer, as: :resource

.content
  .row
    .col-md-3
      = render @customer.person
    .col-md-6
      .hpanel
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('pencil', t('actions.edit')), [:edit, @customer],
                class: 'btn btn-xs btn-primary'
          = icon('handshake-o', t('customers.panel.header'))
        .panel-body
          = render partial: 'form'
    .col-md-3
      = render partial: 'documents'
  .row
    .col-md-3
      = render partial: 'events'
      = render partial: 'steps'
    .col-md-9
      .hpanel
        %ul.nav.nav-tabs
          = nav_tab 'notes-panel', icon('book', t('notes.panel.header')),
              class: 'active'
          = nav_tab 'calendar-panel', icon('calendar', t('calendar.panel.header'))
          = nav_tab 'reviews-panel', icon('certificate', t('reviews.panel.header'))
        .tab-content
          #notes-panel.tab-pane.fade.in.active
            .panel-body
              = render partial: 'notes'
          #calendar-panel.tab-pane.fade
            .panel-body
              = render partial: 'events/calendar', object: @customer, as: :context
          #reviews-panel.tab-pane.fade
            .panel-body
              = render partial: 'reviews'
:coffee
  $('#new_event').on 'click', (e) ->
    $('a[href="#calendar-panel"]').tab 'show'
  $('a[href="#calendar-panel"]').on 'shown.bs.tab', (e) ->
    $('#calendar').fullCalendar 'render'
  $('a[href="#reviews-panel"]').on 'shown.bs.tab', (e) ->
    $('#reviews-panel').readmore_handler()
