.panel-body[post]
  .media{class: post.author.deleted? && 'attention'}
    .media-image.col-md-2
      = profile_image(post.author)
      .author-info
        .font-bold= post.author
        %span{title: l(post.created_at, format: :long)}
          = l(post.created_at, format: :short)
    .media-body
      - if post.author == current_user && post.fresh?
        .pull-right.m-l
          = link_to icon('pencil', t('actions.edit')), [:edit, post], remote: true,
              class: 'btn btn-xs btn-primary'
      %h5= post.title
      = post.content.html_safe

      - if post.comments.any?
        .forum-comments
          = render partial: 'comments/item', collection: post.comments, as: :comment
          = render partial: 'comments/new', object: post, as: :post
      - else
        .m-t-md.initial-comment.opacity-0
          = render partial: 'comments/new', object: post, as: :post
