.hpanel.filter-item
  = link_to activity do
    .panel-body.social-board
      .media.social-profile.clearfix
        .media-left
          = profile_image(activity.resource)
        .media-body
          .pull-right.text-right
            %div
              %span.small.font-bold= activity.whodunnit
              %span{class: "text-#{activity.appearance}"}
                = icon(activity.icon, activity.resource.model_name.human, class: 'fa-lg')
            %small.stat-label
              %span.font-normal= l(activity.created_at, format: :short)
          %h4= activity.resource
          - if activity.context != activity.resource
            %small= activity.context
