.hpanel.filter-item
  = link_to activity do
    .panel-body.social-board
      .media.social-profile.clearfix
        .media-left
          = profile_image(activity.resource)
        .media-body
          .pull-right.text-right
            %div
              %span{class: "text-#{activity.appearance}"}
                = icon(activity.icon, class: 'fa-lg')
            %small.stat-label
              = activity.whodunnit
          %h4= activity.resource
          %small= l(activity.created_at, format: :short)
