- content_for :header do
  %h2= title(Activity, count: 2)
  %small
- content_for :breadcrumb do
  %li.active= title(Activity, count: 2)

.content
  .row
    .col-md-3.col-sticky
      = render partial: 'search'
    .col-md-9
      .row
        .col-lg-12
          .infinite-scroll
            #activity-list.infinite-content
              = render partial: 'item', collection: @activities, as: :activity
            .infinite-pagination
              = link_to_next_page @activities, '', remote: true,
                  params: {activity_search: @activity_search_params.to_h}

:coffee
  # Sets up ActionCable subscription to current unit's activity
  # locally, as these messages are not of interest outside of this view.
  App.activity = App.cable.subscriptions.create {
      channel: 'ActivityChannel'
      unit_id: #{current_unit.id}
    },
    connected: ->

    disconnected: ->

    received: (activity) ->
      $('#activity-list').prepend activity
