- content_for :header do
  %h2= @review
  %small= @customer
- content_for :breadcrumb do
  %li= link_to title(Person, count: 2), people_path
  %li= link_to @customer.person, @customer.person
  %li= link_to @customer, @customer
  %li.active= @review

- content_for :sidebar do
  = render partial: 'activities/sidebar', object: @review, as: :resource

%header.print-header.visible-print
  = current_unit.header_template

.content.content-boxed
  .hpanel.blog-article-box
    .panel-body
      - if @review.content.present?
        = @review.content.html_safe

%footer.print-footer.visible-print
  = current_unit.footer_template
