= bootstrap_form_for @search, url: customers_reports_path, method: :get, enforce_utf8: false do |f|
  .hpanel
    .panel-body
      %h4= t('.header')
      %fieldset
        = f.text_field :since_date, autocomplete: 'off',
            label: t('.since_date'), data: {provide: 'datepicker',
              'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
        = f.text_field :until_date, autocomplete: 'off',
            label: t('.until_date'), data: {provide: 'datepicker',
              'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
      .form-group.actions
        = f.submit t('.submit'), class: 'btn btn-block btn-primary'
