= bootstrap_form_for @search, url: events_reports_path, method: :get, enforce_utf8: false do |f|
  .hpanel
    .panel-body
      %h4= t('.header')
      %p.small= t('.help')
      %fieldset
        %label.control-label= t('.date_range')
        .input-daterange.input-group{data: {provide: 'datepicker',
          'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}}
          = f.text_field_without_bootstrap :since_date,
              autocomplete: 'off', class: 'form-control'
          %span.input-group-addon= icon('minus')
          = f.text_field_without_bootstrap :until_date,
              autocomplete: 'off', class: 'form-control'
      %hr.hr-line-dashed
      %fieldset
        = f.collection_select :contacts, current_unit.users, :id, :to_s,
            {label: t('.contacts')},
            {multiple: true, data: {provide: 'select2', language: I18n.locale}}
      .form-group.actions
        = f.submit t('.submit'), class: 'btn btn-block btn-primary'
