.content
  .row
    .col-md-3
      = render partial: 'customer_search'
    .col-md-9
      .row
        .col-md-12
          .hpanel
            .panel-heading= t('.by_month')
            .panel-body
              %canvas#customers-by-month
      .row
        .col-md-8
          .hpanel
            .panel-heading= t('.by_age')
            .panel-body
              %canvas#customers-by-age
        .col-md-4
          .hpanel
            .panel-heading= t('.by_gender')
            .panel-body
              %canvas#customers-by-gender

#chart-data{data: {source: customers_reports_path(params: {customer_search: params[:customer_search]}, format: :json)}}

:coffee
  moment.locale '#{I18n.locale}'
  $data = $('#chart-data')
  $.ajax
    url: $data.data 'source'
    dataType: 'json'
  .done (data) =>
    new Chart $('#customers-by-age'),
      type: 'bar'
      data:
        labels: data.age_labels
        datasets: [
          data: data.by_age
        ]
      options:
        scales:
          xAxes: [{
            gridLines:
              display: false
          }]
          yAxes: [{
            ticks:
              beginAtZero: true
          }]

    new Chart $('#customers-by-gender'),
      type: 'pie'
      data:
        labels: data.gender_labels
        datasets: [
          $.extend {
            data: data.by_gender
          }, Chart.defaults.colors.qualitative
        ]
      options:
        legend:
          display: true
          position: 'bottom'
        cutoutPercentage: 50

    new Chart $('#customers-by-month'),
      type: 'bar'
      data:
        labels: data.month_labels
        datasets: [
          {
            type: 'bar'
            label: "#{t('.created')}"
            data: data.by_month
            backgroundColor: Palette.pick 'qualitative', 0, 0.5
            borderWidth: 0
          }
          {
            type: 'line'
            label: "#{t('.total')}"
            data: data.by_month_accumulated
            borderColor: Palette.pick 'qualitative', 1, 0.5
            backgroundColor: 'transparent'
            fill: false
          }
        ]
      options:
        legend:
          display: true
        scales:
          xAxes: [{
            type: 'time'
            distribution: 'linear'
            time:
              unit: 'month'
              isoWeekday: true
            gridLines:
              display: false
            ticks:
              source: 'labels'
          }]
          yAxes: [{
            ticks:
              beginAtZero: true
          }]
