.content
  .row
    .col-md-3
      = render partial: 'customer_search'
    .col-md-9
      .row
        .col-md-12
          .hpanel
            .panel-heading= t('.by_month')
            .panel-body
              %canvas#customers-by-month
      .row
        .col-md-8
          .hpanel
            .panel-heading= t('.by_age')
            .panel-body
              %canvas#customers-by-age
        .col-md-4
          .hpanel
            .panel-heading= t('.by_gender')
            .panel-body
              %canvas#customers-by-gender

:coffee
  new Chart $('#customers-by-age'),
    type: 'bar'
    data:
      labels: #{@by_age.labels.to_json}
      datasets: [
        data: #{@by_age.data.to_json}
      ]
    options:
      scales:
        yAxes: [{
          ticks:
            beginAtZero: true
        }]

  new Chart $('#customers-by-gender'),
    type: 'pie'
    data:
      labels: #{@by_gender.labels.to_json}
      datasets: [
        $.extend {
          data: #{@by_gender.data.to_json}
        }, Chart.defaults.colors.qualitative
      ]
    options:
      cutoutPercentage: 50

  new Chart $('#customers-by-month'),
    type: 'bar'
    data:
      labels: #{@by_month.labels.to_json}
      datasets: [
        {
          type: 'bar'
          data: #{@by_month.data.to_json}
        }
        {
          type: 'line'
          data: #{@by_month.data.accumulate(@starting_count).to_json}
          fill: false
        }
      ]
    options:
      scales:
        yAxes: [{
          ticks:
            beginAtZero: true
        }]
