.content
  .row
    .col-md-8
      .hpanel
        .panel-heading= t('.by_age')
        .panel-body
          %canvas#customers-by-age
    .col-md-4
      .hpanel
        .panel-heading= t('.by_gender')
        .panel-body
          %canvas#customers-by-gender

:coffee
  new Chart $('#customers-by-age'),
    type: 'bar'
    data:
      labels: #{@by_age.labels.to_json}
      datasets: [
        {
          data: #{@by_age.data.to_json}
          backgroundColor: 'rgba(98,203,49,0.5)'
          hoverBackgroundColor: 'rgba(98,203,49,1)'
        }
      ]
    options:
      legend:
        display: false
      scales:
        yAxes: [{
          ticks:
            beginAtZero: true
        }]

  new Chart $('#customers-by-gender'),
    type: 'pie'
    data:
      labels: #{@by_gender.labels.to_json}
      datasets: [
        {
          data: #{@by_gender.data.to_json}
          backgroundColor: ['rgba(231,76,60,0.5)', 'rgba(52,152,219,0.5)']
          hoverBackgroundColor: ['rgba(231,76,60,1)', 'rgba(52,152,219,1)']
        }
      ]
    options:
      legend:
        display: false
