.content
  .row
    .col-md-3
      .hpanel
        .panel-heading= t('.title')
        .panel-body.text-center
          %i.pe-7s-user.pe-5x
          %h1.font-extra-bold.m-b-xs
            = @people.count
          .small= t('.count')
          .small.m-t
            - if @people.latest.present?
              = link_to @people.latest do
                = icon('clock-o', t('.latest'))
                = l(@people.latest.created_at.to_date)

    .col-md-6
      .hpanel
        .panel-heading= t('.by_age')
        .panel-body
          %canvas#people-by-age
    .col-md-3
      .hpanel
        .panel-heading= t('.by_gender')
        .panel-body
          %canvas#people-by-gender

#chart-data{data: {source: people_reports_path(format: :json)}}

:coffee
  moment.locale '#{I18n.locale}'
  $data = $('#chart-data')
  $.ajax
    url: $data.data 'source'
    dataType: 'json'
  .done (data) =>
    new Chart $('#people-by-age'),
      type: 'bar'
      data:
        labels: data.age_labels
        datasets: [
          data: data.by_age
        ]
      options:
        scales:
          xAxes: [{
            gridLines:
              display: false
          }]
          yAxes: [{
            ticks:
              beginAtZero: true
          }]

    new Chart $('#people-by-gender'),
      type: 'pie'
      data:
        labels: data.gender_labels
        datasets: [
          $.extend {
            data: data.by_gender
          }, Chart.defaults.colors.qualitative
        ]
      options:
        legend:
          display: true
          position: 'bottom'
        cutoutPercentage: 50
