.border-top.border-left.border-right.bg-light
  .p-m
    %div
      %span.font-extra-bold
        = succeed ':' do
          = t('.from')
      = @memo.sender
    %div
      %span.font-extra-bold
        = succeed ':' do
          = t('.to')
      = @memo.deliveries.map(&:recipient).to_sentence
