.border-top.border-left.border-right.bg-light
  .p-m
    %dl.dl-horizontal.m-n
      %dt= t('.from')
      %dd= @memo.sender
      %dt= t('.to')
      %dd
        %ul.list-inline
          - @memo.deliveries.each do |delivery|
            %li
              - if delivery.recipient.is_a?(Unit)
                %span.label.label-violet= delivery.recipient
              - else
                = delivery.recipient
