.media{id: dom_id(image)}
  .media-left
    = image_tag image.attachment_url(:thumbnail),
        class: 'media-object img-thumbnail img-responsive'
  .media-body
    - unless editing_disabled?
      .pull-right
        = link_to icon('trash'), image, method: :delete, remote: true,
            class: 'btn btn-sm btn-danger'
    %p.small.font-bold
      = image.attachment[:original].original_filename.truncate(16)
    %p.small.text-muted
      = number_to_human_size image.attachment[:original].mime_type
    %p.small.text-muted
      = number_to_human_size image.attachment[:original].size
