!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Folio
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.fixed-navbar.fixed-sidebar

    #header
      = render partial: 'shared/header'

    %aside#menu
      #navigation
        = render partial: 'shared/profile_picture'
        %ul#side-menu.nav
          = render partial: 'shared/menu'

    #wrapper
      = yield

      = render partial: 'shared/footer'
