!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %title Folio
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = render partial: 'application/favicon'

  %body.fixed-navbar.fixed-sidebar.fixed-footer
    #header
      = render partial: 'shared/header'

    %aside#menu
      #navigation
        = render partial: 'shared/profile_picture'
        %ul#side-menu.nav
          = render partial: 'shared/menu'

    #wrapper{content_animation}
      - if content_for?(:header) || content_for?(:breadcrumb)
        = render partial: 'shared/small_header'

      = yield

      - if content_for?(:sidebar)
        = render partial: 'shared/sidebar'

      = render partial: 'shared/footer'

    #toast-container.toast-top-center
      %span

    #modal.modal.fade{role: 'dialog'}
      .modal-dialog
        .modal-content

    #print-modal.modal.fade{role: 'dialog'}
      .modal-dialog
        .modal-content
          = render partial: 'shared/print_modal'
