!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %title Folio
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body.blank
    .color-line
    .login-container
      .row
        .col-md-12
          = yield
      .row
        .col-md-12.text-center
          %small
            = t('shared.footer.copyright_html')

    #toast-container.toast-top-center
      %span
