- content_for :header do
  %h2= t('policies.title')
  %small
- content_for :breadcrumb do
  %li.active= t('policies.title')

.content
  .row
    .col-md-3.col-sticky
      - if current_user.can_create?(Policy)
        = link_to new_policy_path, class: 'm-b' do
          = render partial: 'new'
      - else
        = render partial: 'help'
    .col-md-9
      = render partial: 'item', collection: @policies, as: :policy
