- content_for :header do
  %h2= @policy
- content_for :breadcrumb do
  %li= link_to t('policies.title'), policies_path
  %li.active= @policy

- content_for :sidebar do
  = render partial: 'activities/sidebar', object: @policy, as: :resource

.content
  .row
    .col-md-3.col-sticky.hidden-print
      = link_to new_policy_path, class: 'm-b' do
        = render partial: 'new'
    .col-md-9
      .hpanel.email-compose
        .panel-heading.hbuilt
          .pull-right
            = link_to icon('pencil', t('actions.edit')), [:edit, @policy],
                class: 'btn btn-xs btn-primary'
          .h4.p-xs= @policy.title
        = render partial: 'headers'
        .panel-body
          = @policy.content.html_safe
